body {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	text-align: center;
}

ul {
	list-style-type: none;
}

#wrapper {
	width: 1100px;
	padding: 10px;
	margin-left:  auto;
	margin-right:  auto;
}

#content {
	width: 950px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-left:  auto;
	margin-right:  auto;
}

#content div {
	padding: 10px;
	border: 1px solid #bbb;
	float: left;
}

#content-left {
	width: 350px;
	padding: 0;
}

#content-right {
	margin-left: 10px;
	width: 500px;
}

#main_ack {
	margin-right: auto;
	margin-left: auto;
	border-width: 1px;
	border-color: #000;
	text-align: justify;
}

#main_check, #main_options {
	width: 330px;
}

.options {
width: 310px;
	text-align: left;
}

ul {
	margin: 0;
}

li {
		margin: 0;

}

#ack_main {
	width: 480px;
}

#ack_bibtex {
		width: 480px;
	font: 12px "Courier New", Courier, mono;
}

#ack_facilities {
	width: 480px;
	
}